@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-gray-200 font-sans;
    min-height: 100vh;
  }

  html {
    scroll-behavior: smooth;
  }

  /* Custom scrollbar for webkit browsers */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent rounded;
  }
}
.fun-wrapper {
  position: relative;
  z-index: 10;

  background: rgba(10, 10, 20, 0.75);
  backdrop-filter: blur(30px);

  border-radius: 40px;

  margin: 0 40px 40px 40px;

  padding: 0 40px 20px 40px;   

  box-shadow: 0 0 80px rgba(0,0,0,0.5);
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

